@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-red: #ef4035;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: all;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: orange;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*NAVBAR*/
nav ul li {
  text-transform: uppercase;
  color: var(--primary-white) !important;
}

.nav-link {
  color: var(--primary-white) !important;
}

/*CALENDAR PAGE WRAPPER*/
.calendar-wrapper {
  background-color: gray;
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  /* height: 90vh; */
 
}

.container h1 {
  text-align: center;
}
.container h4 {
  text-align: center;
}

.content-paragraph {
  text-align: center;
}

/*ABOUT PAGE WRAPPER*/
.about-wrapper {
  background-color: gray;
  position: relative;
  background-size: cover;
  background-position: center;
  /* height: 90vh; */
 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
